.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
}

.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border: none;
}

.ui.footer {
  margin-top: 30px;
  height: 200px;
}

body {
  margin-top: 50px;
  margin-bottom: 200px;
}