.ui.borderless.topmenu.menu {
  background-color: #f7f7f7;
}

.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border: none;
}

.ui.midimage.image {
  margin-bottom: 50px;
}

body {
  margin-top: 50px;
  margin-bottom: 100px;
}